<div class="container">
  <!-- Content here -->
  <div class="card text-center">
    <div class="card-header">
      Welcome
    </div>
    <div class="card-body">
      <h4 class="card-title">Get Screen Shot</h4>
      <p class="card-text">open your chrome and get a screen shot</p>

      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="button" v-action-click="onHandleClick">Go!</button>
        </span>
      </div>
    </div>
  </div>
</div>
